* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    user-select: none;
    width: 100%;
}

html {
    background: linear-gradient(to top, rgb(233, 126, 162), rgb(230, 181, 197));

}
.white-border {
    border: white solid;
    border-width: 1px 4px 4px 4px;
    color: #333333;
}

a:link, a:visited{
    color: #720b0b;
}

.body1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header1 {
    background: linear-gradient(to bottom, #ffe4f0, #ffd6e8);
    text-shadow: 2px 2px 5px rgb(224, 81, 81);
    color: #720b0b;
    height: 50px;
    font-size: 37px;
    font-weight: 600;
    width: 100%;
    border: solid white;
    border-width: 4px 4px 0px 4px;
    position: fixed;
    z-index: 100;
}

.nav1 {
    z-index: 100;
    padding: 5px;
    padding-left: 19px;
    position: fixed;
    top: 50px;
    background: linear-gradient(to bottom, #ffd6e8, #ffb3d9);
    text-shadow: 2px 2px 5px rgb(221, 103, 103);
    width: 100%;
    font-weight: 700;
    height: 37px;
    color: #720b0b;
    text-decoration-line: underline;
}

.nav1 ul {
    display: grid;
    grid-template-columns: 109px 109px 109px 109px;
    list-style: none;
    padding-left: 12px;
}

.nav1 ul li {
    list-style: "â¤";
    padding-left: 5px;

}
.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.calc-body {
    width: 100%;
    background: linear-gradient(to bottom, #ffb3d9, #ff7eb3);
    position: relative;
    top: 87px;
}

.calc-nav {
    width: 100%;
    border: white solid;
    border-width: 1px 4px 4px 4px;
    height: 40px;
    background-color: rgb(238, 122, 161);
    position: sticky;
    top: 86px;
    box-shadow: 0px 9px 3px rgba(0, 0, 0, 0.678);
z-index: 100;

}

#calc-nav-ul{
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}

.calc-control {
    border: white solid;
    border-width: 4px 4px 4px 4px;
    width: 230px;
    background: linear-gradient(to top, rgb(241, 147, 179), rgb(245, 107, 153));
    font-size: 20px;
    color: rgba(0, 0, 0, 0.623);
    line-height: 40px;
    justify-content: flex-start;
    position: fixed;
    top: 160px;
    margin: 0px 2.6cm;
    visibility: hidden;
    box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.678);
    z-index: 1000;
}

.calc-control>span {
    display: inline-block;
    font-size: 30px;
    color: white;
    margin: 30px 0px;
}


.calc-closebtn-control {
    width: 180px;
    font-size: 25px;
    height: 50px;
    background: linear-gradient(to top, rgb(233, 126, 162), rgb(230, 181, 197));
    box-shadow: 3px 3px 3px rgb(243, 73, 130);
    color: white;
    border: 4px white solid;
    margin: 60px 0px;
}

.calc-main {
    width: 100%;
    position: static;
}

.calc-scrn {
    background: linear-gradient(to top, rgb(233, 126, 162), rgb(230, 181, 197));
    height: 96vh;
   
    line-height: 20px;
    border: white solid;
    border-width: 0px 4px 4px 4px;
    width: 100%;
    text-shadow: none;
}

.calc-scrn>span {
    display: inline-block;
    margin-top: 17px;
    width: 90%;
    font-size: 15px;
    color: white;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.calc-scrn2 {
    height: 230px;
    width: 340px;
    border: 4px white solid;
    background: linear-gradient(to bottom, #ffb3d9, #ff7eb3);
    margin: 16px auto 36px auto;
    box-shadow: inset 7px 7px 3px rgba(0, 0, 0, 0.678);
    flex-wrap: wrap;
    align-content: center;
    row-gap: 20px;
}



.calc-scrn2-div {
    font-size: 45px;
    text-shadow: 7px 7px 8px rgba(0, 0, 0, 0.5);
}

.calc-keypad {
    height: 450px;
    background: linear-gradient(to bottom, #ffb3d9, #ff7eb3);
    box-shadow: inset 7px 7px 3px rgba(0, 0, 0, 0.678);
    border: white solid;
    border-width: 4px;
    margin: 16px auto 3px auto;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-rows: 60px 60px 60px 60px 60px;
    width: 95%;
    row-gap: 16px;
    column-gap: 5px;
    justify-content:center;
    padding-top: 40px;
}


.calc-key {
    border: 4px white solid;
    width: 79px;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.678);
    height: 60px;
    font-size: 25px;
    background: linear-gradient(to top, rgb(233, 126, 162), rgb(230, 181, 197));

}

.calc-key:hover {
    transform: rotateX(30deg) rotateY(0deg) rotateZ(0deg);
    transition: 0.000001s;
    background: linear-gradient(to top, rgb(209, 113, 145), rgb(192, 151, 165));
    box-shadow: none;
}

.extra-space{
    margin: 30px 10px;
    line-height: 30px;
}

.betweentext {
    border: blue 5px solid;
    width: 200px;
    height: 200px;
    background-color: red;
}