* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.white-border {
    border: rgb(240, 35, 69) solid;
    border-width: 1px 4px 4px 4px;
    color: #333333;
}

html {
    width: 100%;
    background-color: #101010;
    user-select: none;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    background: linear-gradient(to bottom, #ffe4f0, #ffd6e8);
    text-shadow: 2px 2px 5px rgb(224, 81, 81);
    color: #353535;
    height: 50px;
    font-size: 37px;
    font-weight: 600;
    width: 100%;
    border: solid rgb(240, 35, 69);
    border-width: 4px 4px 0px 4px;
    position: fixed;
    z-index: 100;

}

nav {
    z-index: 100;
    padding: 5px;
    padding-left: 19px;
    position: fixed;
    top: 50px;
    background: linear-gradient(to bottom, #ffd6e8, #ffb3d9);
    text-shadow: 2px 2px 5px rgb(221, 103, 103);
    width: 100%;
    font-weight: 700;
    height: 37px;
    color: #333333;
}

nav ul {
    display: grid;
    grid-template-columns: 109px 109px 109px 109px;
    list-style: none;
    padding-left: 12px;
}

li {
    list-style: "â¤";
    padding-left: 5px;

}


main.flexcenter {
    background: linear-gradient(to bottom, #ffb3d9, #ff7eb3);
    width: 100%;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    color: rgb(61, 45, 45);
    text-shadow: 2px 2px 5px rgb(241, 44, 44);
    justify-content: flex-start;
    transform: translateY(87px);
    overflow: scroll important;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#first-text {
    margin-top: 15px;
}

#id1 {
    text-shadow: 2px 2px 5px rgb(9, 26, 180);

}

div.homepage {
    justify-content: flex-start;

}

.welcome1 {
    margin-top: 28px;
}

.welcome {
    margin-bottom: 12px;
    font-family: Arial, sans-serif;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    text-shadow: 2px 2px 5px rgb(9, 26, 180);
}


#ytshorts {
    border: red 8px solid;
    border-radius: 30px;
}


#extra {
    width: 330px;
    height: 219px;
    background: linear-gradient(to bottom, #ffd6e8, #ffb3d9);
    text-shadow: 2px 2px 5px rgb(221, 103, 103);
    margin-bottom: 10px;
    border: 4px solid rgb(240, 35, 69);
    border-radius: 12px;

}

.photo {
    background-image: url("photo.jpg");
    width: 300px;
    height: 189px;
    background-size: contain;
    box-sizing: content-box;
    border: 3px solid rgb(240, 35, 69);
    border-radius: 12px;
}

#mymedia {
    width: 300px;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

#prev,
#next {
    border: 5px solid rgb(240, 35, 69);
    width: 110px;
    border-radius: 12px;
    background: linear-gradient(to bottom, #ffd6e8, #ffb3d9);
    text-shadow: 2px 2px 5px rgb(221, 103, 103);
}
.bigtext {
    flex-direction: column;
    line-height: 50px;
}

.bigtext>p,
.noteforyou {
    margin-top: 45px;

}

.afterpic>p::first-line {
    text-shadow: blue;
    color: blue;
}

.noteforyou {
    position: sticky;
    top: 30px;
    background-color: rgb(212, 116, 180);
    height: 70px;
    width: 100%;
}

.afternote {
    border: white 3px solid;
    width: 90vw;
    height: 80px;
    border-radius: 12px;
    margin: 20px 0px;
    background-color: rgba(255, 255, 255, 0.267);
    font-size: 25px;
    color: blue;
    font-weight: 900;
}

.imgafternote {
    border: 4px white solid;
    box-shadow: 3px 3px 3px black;
    background: url(himanshu1.jpg);
    background-size: contain;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.afternote:active,
p:active, 
.welcome:active, 
.imgafternote:hover {
    transform: rotateY(180deg);
    transition: 1s;
}
.photo:active{
    transform: rotateY(180deg) rotateX(180deg);
    transition: 1s;
}
#extra:active {
    transform: rotateX(180deg);
    transition: 0.4s;

}
#prev:hover, #next:hover{
    transform: rotateX(30deg) rotateY(-10deg) rotateZ(0deg);    transition: 0.5s;
    background: linear-gradient(to bottom, #c2a3b1, #fdb3d8);
    box-shadow: 7px 12px 3px rgba(0, 0, 0, 0.514);

}

.helpcircle {
    border: 4px white solid;
    box-shadow: 3px 3px 3px black;
    background: url(himanshu1.jpg);
    background-size: contain;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: fixed ;
    top: 86vh;
    right: 10px;
    transition: 0.3s;
} 
.p{margin-left: ;}
.helpbox{
    position: fixed;
    top: 120px;
    right: 50px;
    width: 78vw;
    height: 600px;
    z-index: 10;
    /* transition: 0.1s ease ; */

    border: 5px rgb(250, 18, 87) solid;
    border-radius: 10px;
    color: rgb(250, 18, 87);
    font-size: 25px;
    padding: 20px;
    text-align: center;
    overflow: scroll;
    background: linear-gradient(to bottom, #c2a3b1dc, #fdb3d8ce);
visibility: hidden;
}

.afterpic